@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-300 antialiased;
  }
}

/* Custom scrollbar for a modern look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2dd4bf; /* Teal color */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5eead4;
}